In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('C:/Users/manodnyagaikwad/Downloads/Building_Permits.csv')

C:\Users\manodnyagaikwad\AppData\Local\Temp\ipykernel_9752\3120357633.py:1: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/Users/manodnyagaikwad/Downloads/Building_Permits.csv')

In [6]:
data.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [29]:
#calculate the total number of cells in each column which are empty
missing_data = data.isnull().sum()
missing_data

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [30]:
#calculate the percentage of missing data
total = np.product(data.shape)
missing_sum = missing_data.sum()

(missing_sum/total) * 100

26.26002315058403

# Dropping columns with NA

In [31]:
#drop all rows with NA
data.dropna()

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

In [32]:
#drop the columns with NAN
columns_withoutNA = data.dropna(axis=1)
columns_withoutNA.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992

In [33]:
print("Columns in original dataset: %d \n" % data.shape[1])
print("Columns with na's dropped: %d" % columns_withoutNA.shape[1])

Columns in original dataset: 43

Columns with na's dropped: 12

# Filling missing data

In [34]:
#Here we will take a subset of the dataset to fill the missing data
subset_data = data.loc[:,'Issued Date':'TIDF Compliance']
subset_data.head()

,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance
0,11/09/2015,NaN,11/09/2015,NaN,6.0,NaN,NaN,NaN,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,NaN,NaN,2.0,NaN
1,08/03/2017,NaN,08/03/2017,NaN,7.0,NaN,NaN,NaN,12/03/2017,1.0,500.0,tourist hotel/motel,NaN,NaN,NaN,2.0,NaN
2,NaN,NaN,NaN,NaN,6.0,6.0,NaN,NaN,NaN,20000.0,NaN,retail sales,39.0,retail sales,39.0,2.0,NaN
3,07/18/2017,07/24/2017,07/18/2017,NaN,2.0,2.0,NaN,NaN,07/13/2018,2000.0,2000.0,1 family dwelling,1.0,1 family dwelling,1.0,2.0,NaN
4,12/01/2017,NaN,11/20/2017,NaN,3.0,NaN,NaN,NaN,12/01/2018,100000.0,100000.0,retail sales,NaN,NaN,NaN,2.0,NaN

In [28]:
#Use bfill method to fill the missing value with the next value and remaining with 0
subset_data.fillna(method = 'bfill', axis=0).fillna(0)

,Issued Date,Completed Date,First Construction Document Date,Structural Notification,Number of Existing Stories,Number of Proposed Stories,Voluntary Soft-Story Retrofit,Fire Only Permit,Permit Expiration Date,Estimated Cost,Revised Cost,Existing Use,Existing Units,Proposed Use,Proposed Units,Plansets,TIDF Compliance
0,11/09/2015,07/24/2017,11/09/2015,Y,6.0,6.0,Y,Y,11/03/2016,4000.0,4000.0,tourist hotel/motel,143.0,retail sales,39.0,2.0,Y
1,08/03/2017,07/24/2017,08/03/2017,Y,7.0,6.0,Y,Y,12/03/2017,1.0,500.0,tourist hotel/motel,39.0,retail sales,39.0,2.0,Y
2,07/18/2017,07/24/2017,07/18/2017,Y,6.0,6.0,Y,Y,07/13/2018,20000.0,2000.0,retail sales,39.0,retail sales,39.0,2.0,Y
3,07/18/2017,07/24/2017,07/18/2017,Y,2.0,2.0,Y,Y,07/13/2018,2000.0,2000.0,1 family dwelling,1.0,1 family dwelling,1.0,2.0,Y
4,12/01/2017,07/12/2017,11/20/2017,Y,3.0,5.0,Y,Y,12/01/2018,100000.0,100000.0,retail sales,326.0,apartments,326.0,2.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,12/05/2017,0,12/05/2017,0,4.0,4.0,0,Y,04/06/2018,5000.0,1.0,apartments,4.0,apartments,4.0,2.0,0
198896,12/06/2017,0,12/06/2017,0,4.0,4.0,0,Y,04/06/2018,5000.0,5000.0,apartments,4.0,apartments,4.0,2.0,0
198897,12/06/2017,0,12/06/2017,0,0.0,0.0,0,0,0,0.0,1.0,0,0.0,0,0.0,0.0,0
198898,12/06/2017,0,12/06/2017,0,0.0,0.0,0,0,0,0.0,1.0,0,0.0,0,0.0,0.0,0
198899,12/07/2017,0,12/07/2017,0,0.0,0.0,0,0,0,0.0,1.0,0,0.0,0,0.0,0.0,0